.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    max-width: 125px;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 680px) {
        grid-template-columns: 1fr 1fr;
    }
  }
}
